build/
flyappy_autonomy_code_py/install/
flyappy_autonomy_code_py/build/
flyappy_autonomy_code_py/log
flyappy_autonomy_code_py/myenv/
flyappy_autonomy_code_py/.venv/
*.pyc
*.egg-info/
*.egg
venv/
.venv/